*
.src/
!bundles/
!.gitignore
!.lando.yml
!api.php
!favicon.ico
!index.html
!index.js
!manifest.json
!package.json
!README.md
!serviceworker.js
.idea/
configs/
packages/*
config
!configs/.htaccess
!configs/.dotenv.php
!configs/.sessions.php
!configs/.status.php
css/*
!css/.styles.css
data/*
!data/.htaccess
!img/*
includes/*
!includes/.htaccess
!includes/aaawhereclause.php
!includes/aacompositewhereclause.php
!includes/andwhereclause.php
!includes/functions.php
!includes/listwhereclause.php
!includes/notwhere.php
!includes/orderby.php
!includes/orderer.php
!includes/orwhereclause.php
!includes/simplewhereclause.php
!includes/txtDB.php
!includes/txtDB_utils.php
!js/*
!services/*
!sample.env